.main {
    padding: 24px;
    flex-grow: 1;
    display: flex;
}
.App {
    font-family: sans-serif;
    height: 100%;
    display: flex;
    position: relative;
}

.main-wrapper {
    height: auto;
    margin-left: 10%;
    margin-top: 20px;
    font-family: "Yandex Sans Text";
    font-size: 16px;
}
.content-block{
    background-color: white;
    margin-bottom: 25px;
    border-radius: 10px;
    padding: 20px 30px 30px 30px;
    width: 80%;
}
img{
    height: 250px;
}
.header{
    font-size:30px;
    font-weight: bold;
    padding-bottom: 10px;
}
.input-block{
    padding-bottom: 10px;
}
.input-block span{
    margin-right: 20px;
    font-weight: 500;
    display: block;
    margin-bottom: 0.25rem;
}
.input{
    display: block;
    /*width: 100%;*/
    /*height: calc(2.25rem + 2px);*/
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.variables{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.answer-block{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.answer{
    font-weight: 500;
    line-height: 40px;
    padding-right: 10px;
}
.right{
    display: inline-flex;
    vertical-align: center;
}

.btn-11 {
    overflow: hidden;
    transition: all 0.3s ease;
    background-color: white;
    border-radius: 0.25rem;
    font-size: 20px;
    border: 2px solid black;
}
.btn-11:hover {
    background: #000;
    color: #fff;
}
.btn-11:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

